<h1>Movies List</h1>

<form>
  <label>Search by name</label>
  <input name="qs" id="qs" placeholder="Search"></input>
</form>

<form>
  <select name="num" id="num">
    <option value=""></option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5.0">5</option>
</select>
<br></br>
<input type="submit">
</form>
<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.name %>
    <%= movie.stars %></li>
  <% end %>
</ul>
